<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/open-iconic/1.1.1/font/css/open-iconic.css}" />

</head>
<body>
	<nav th:fragment="menu"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="collapse navbar-collapse" id="navbarTogglerVehicle">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active"><a class="navbar-brand" href="/">Ficticius clean</a></li>
				<li class="nav-item active"><a class="nav-link" href="/vehicle">Carros</a></li>
				<li class="nav-item active"><a class="nav-link" href="/rule">Analítico</a></li>
			</ul>
		</div>
	</nav>

	<div th:fragment="footer" id="footer"></div>
</body>
</html>